<h2>{{ .Title }}</h2>
<h4>{{ .Date.Format "January 2, 2006" }}</h4>

{{ if eq .Params.math "true" }}
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [['$','$']],
        displayMath: [['$$','$$']],
        processEscapes: true,
        processEnvironments: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        TeX: { extensions: ["AMSmath.js", "AMSsymbols.js"] }
    },
    asciimath2jax: {
        delimiters: [['(|','|)']]
    }
});
</script>
{{ end }}

{{ .Content }}
<br/>
